In [1]:
path = "/Users/apple/Work/meituan/game-battersheep-res/excel/Game2048ExtraReward.xlsx"
sheet = "Game2048ExtraReward"

In [2]:
import pandas as pd

print(f"open file:  {path}.{sheet}")
# 读取Excel文件
df = pd.read_excel(path)

open file:  /Users/apple/Work/meituan/game-battersheep-res/excel/Game2048ExtraReward.xlsx.Game2048ExtraReward

In [32]:
df.keys()[0]
# df['对应的格子id"']

datas= df.iloc[3:,:]
print(datas)

   对应的格子id 价格类型    价格
3        1    2     0
4        2    2     0
5        3    2     0
6        4    2     0
7        5    2     0
8        6    2     0
9        7    2     0
10       8    2     0
11       9    2     0
12      10    2     5
13      11    2    10
14      12    2    20
15      13    2   100
16      14    2  1000
17      15    2  3888

In [33]:
# SET

datas.iloc[0]
values = df.iloc[3:, :].values;
# print(values)
# 第一列
data_set = set(values[:,0])
print(data_set)

print(1 in data_set)
data_set.add(16)
print(16 in data_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
True
True

In [41]:
datas.iloc[3:,:]

   对应的格子id 价格类型    价格
6        4    2     0
7        5    2     0
8        6    2     0
9        7    2     0
10       8    2     0
11       9    2     0
12      10    2     5
13      11    2    10
14      12    2    20
15      13    2   100
16      14    2  1000
17      15    2  3888

In [54]:
# MAP
datas.iloc[3:,:]

# 创建一个空字典
id_map = {}

# 遍历 datas.iloc[3:,:] 的结果
for row in datas.iloc[0:,:].values:
    # print(row)
    # 获取行号
    row_id = row[0]

    # 创建一个空字典
    # 将行字典添加到 id_map 中
    id_map[row_id] = row    

# 打印 id_map
print(12 in id_map)
print(16 in id_map)
print(list(id_map.values())[0])

True
False
[1 2 0]

In [ ]:

# 选择要输出的sheet
sheet = df[sheet]

# 遍历每一行
for i in range(sheet.shape[0]):
    # 输出每一行的内容
    print(sheet.iloc[i])